<div class="form-container">
    <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile colspan="2">
            <h2 mat-dialog-title>Add a vinyl</h2>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-dialog-content [formGroup]="form">
        <mat-grid-list cols="4" rowHeight="70px" gutterSize="3px">
            <mat-grid-tile colspan="2">
                <mat-form-field>
                    <input matInput matNativeControl placeholder="Artist" formControlName="artist">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <mat-form-field>
                    <input matInput matNativeControl placeholder="Title album" formControlName="titleAlbum">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <mat-form-field>
                    <input matInput matNativeControl placeholder="Label" formControlName="label">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field>
                    <input matInput matNativeControl placeholder="Cat nb." formControlName="catNb">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <mat-form-field>
                    <input matInput matNativeControl placeholder="Country" formControlName="country">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field>
                    <input matInput matNativeControl placeholder="Year original" formControlName="yearOriginal">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile colspan="2">
                <mat-form-field>
                    <input matIput matNativeControl placeholder="Year edition" formControlName="yearEdition">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-dialog-content>
    <div>
        <mat-dialog-actions>
            <div>
                <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit(form)">Save</button>
            
                <button mat-raised-button mat-dialog-close (click)="closeDialog()">Close</button>
            </div>
        </mat-dialog-actions>
    </div>
</div>