<div class="app-nav-container">
    <a [routerLink]="['/user-view']">User view</a>
    <a [routerLink]="['/todo-list']">Todo list</a>
    <a [routerLink]="['/shopping-parent']">Shopping parent</a>
    <a [routerLink]="['/table-test']">Table test</a>
    <a [routerLink]="['/text-color']">Text color</a>
    <a [routerLink]="['/directive-angular']">Directive</a>
    <a [routerLink]="['/typage-angular']">Typage</a>
    <a [routerLink]="['/expression-component']">Expression</a>
    <a [routerLink]="['/connection-api']">Movie db</a>
</div>